<div class="container" id="container">
  <div id="home-page"></div>
  <!--Grid row-->
  <div class="row">
    <!--Card-->
    <div class="card mb-2 wow fadeIn">
      <div class="card-header font-weight-bold">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h1-responsive font-weight-bold text-white text-center pt-2">All recent post by all users</h1>
          </div>
        </div>
      </div>

      <!--Card content-->
      <div class="card-body blog">
        <div class="row">
          <div class="col-md-12">
            <h1 class="errorHeading" id="errorHeading"></h1>
            {{#each data}}
            <div class="expand">
              <h5 class="mt-0 mb-1 font-weight-bold">Handlebar Post #{{this.id}} display
                successful!!</h5>
              <h2>Title: {{title}}</h2>
              <h2>Place: {{stayAt}}, {{cityVisited}}, {{countryVisited}} </h2>
              <h2>Experience: {{experience}}</h2>
            </div>
            <hr class="style2">
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <!--/.Card-->

  </div>
</div>